.heading-title{
    margin: 40px 20px 10px;
    font-size: 18px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #5d5d5d;
}
.resto-image{
    padding:20px;
    width:200px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.clear {
    clear: both;
}
.resto-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.resto-list li{
    padding: 20px;
    border-bottom: 1px solid #e2d6d6;
   margin-bottom: 20px;
}
.resto-details{
    margin-left: 264px;
}
.resto-name{
    margin: 0px 0px 8px 0px;
    font-size: 16px;
    font-weight: 700;
    color: #5d5d5d;
    cursor: pointer;
}
.resto-rating{
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}
.resto-rating .star{
    margin-right: 4px;
    color:#FF9800;
}
.resto-votes{
    font-size: 12px;
    font-weight: 400;
    color: #9E9E9E;
}
.resto-cuisine{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #E91E63;
}
.locality{
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    cursor: pointer;
}
address{
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
}


#listMoreLoader {
    text-align: center;
    font-size: 18px;
    padding: 30px;
}